<section class="bg-navs text-text py-[2.5rem] px-5">
  <div
    class="max-w-5xl mx-auto flex md:flex-row flex-col md:justify-between text-center gap-[5rem]"
  >
    <div>
      <img class="d-block mx-auto" [src]="Van" alt="van" />
      <p class="text-white font-rate text-[1.25rem] py-2 uppercase">
        Free delivery
      </p>
      <p>Lorem ipsum dolor sit amet, consect adipiscing eliteget lorem.</p>
    </div>
    <div class="my-5 md:my-0">
      <img class="d-block mx-auto" [src]="Wallet" alt="van" />
      <p class="text-white font-rate text-[1.25rem] py-2 uppercase">
        Online Payment
      </p>
      <p>Lorem ipsum dolor sit amet, consect adipiscing eliteget lorem.</p>
    </div>
    <div>
      <img class="d-block mx-auto" [src]="Turn" alt="van" />
      <p class="text-white font-rate text-[1.25rem] py-2 uppercase">
        Easy Return
      </p>
      <p>Lorem ipsum dolor sit amet, consect adipiscing eliteget lorem.</p>
    </div>
  </div>
</section>
