<section class="px-5">
  <p class="text-[2rem] font-rate text-center">From Our Blog</p>
  <div class="flex flex-col md:flex-row gap-[2rem] max-w-6xl mx-auto">
    <div>
      <img [src]="Indoor" alt="" />
      <p class="text-rate text-[1.5rem] pb-[1rem]">
        How to Create a Beautiful Indoor Garden
      </p>
      <p class="text-nav text-[1rem]">
        Creating a beautiful indoor garden is a rewarding way to bring nature
        into your home, enhancing both your living space and your well-being.
      </p>
      <button
        class="bg-navs py-3 px-6 rounded-full shadow-md text-white mt-[1rem]"
      >
        Read More
      </button>
    </div>

    <div>
      <img [src]="Succulent" alt="" />
      <p class="text-rate text-[1.5rem] pb-[1rem]">
        How to Create a Beautiful Indoor Garden
      </p>
      <p class="text-nav text-[1rem]">
        Creating a beautiful indoor garden is a rewarding way to bring nature
        into your home, enhancing both your living space and your well-being.
      </p>
      <button
        class="bg-navs py-3 px-6 rounded-full shadow-md text-white mt-[1rem]"
      >
        Read More
      </button>
    </div>
    <div>
      <img [src]="PlantCare" alt="" />
      <p class="text-rate text-[1.5rem] pb-[1rem]">
        How to Create a Beautiful Indoor Garden
      </p>
      <p class="text-nav text-[1rem]">
        Creating a beautiful indoor garden is a rewarding way to bring nature
        into your home, enhancing both your living space and your well-being.
      </p>
      <button
        class="bg-navs py-3 px-6 rounded-full shadow-md text-white mt-[1rem]"
      >
        Read More
      </button>
    </div>
  </div>
</section>
