<section class="bg-hero xl:min-h-[60vh] px-5 pb-10 md:pb-0 md:px-0">
  <div class="max-w-6xl mx-auto">
    <div
      class="flex items-center text-center md:text-left md:gap-14 flex-col-reverse xl:flex-row xl:justify-between"
    >
      <div class="text-para">
        <p
          class="font-abhaya leading-none text-[25px] md:text-[47px] lg:text-[55px] xl:text-[80px]"
        >
          Office Plant. Garden & Home
        </p>
        <p class="font-rate pt-[20px] text-[14px] xl:w-[75%] leading-normal">
          Shop your favorite plants in you favorable factor, Veggies, Seeds,
          Citrus, Fruit Trees, Herbs and more....
        </p>
        <button class="bg-navs mt-[20px] text-white py-3 px-6 rounded-full">
          Shop Tropical Plants
        </button>
      </div>
      <div><img [src]="Hero" alt="" /></div>
    </div>
  </div>
</section>

<section class="">
  <div class="flex flex-col md:flex-row w-full">
    <div class="image-container w-full md:w-1/3 h-[400px]">
      <img [src]="BlackPot" alt="Image 1" class="w-full h-full object-cover" />
      <div class="content">
        <p class="text-hero text-lg">Pet Friendly Plants</p>
        <button
          class="text-sm mt-2 py-2 px-8 rounded-full text-white hover:bg-hero hover:text-navs border-solid border-2 border-hero"
        >
          VIEW PRODUCTS
        </button>
      </div>
    </div>
    <div class="image-container w-full md:w-1/3 h-[400px]">
      <img [src]="CreamPot" alt="Image 2" class="w-full h-full object-cover" />
      <div class="content">
        <p class="text-hero text-lg">Air purifying plants</p>
        <button
          class="text-sm mt-2 py-2 px-8 rounded-full text-white hover:bg-hero hover:text-navs border-solid border-2 border-hero"
        >
          VIEW PRODUCTS
        </button>
      </div>
    </div>
    <div class="image-container w-full md:w-1/3 h-[400px]">
      <img [src]="WhitePot" alt="Image 3" class="w-full h-full object-cover" />
      <div class="content">
        <p class="text-hero text-lg">Pet Friendly Plants</p>
        <button
          class="text-sm mt-2 py-2 px-8 rounded-full text-white hover:bg-hero hover:text-navs border-solid border-2 border-hero"
        >
          VIEW PRODUCTS
        </button>
      </div>
    </div>
  </div>
</section>
