<section class="bg-bloom">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center">
    <img class="block mx-auto" [src]="WhitePot" alt="" />

    <div class="py-[1rem] px-5">
      <p class="text-abhaya text-[2rem] md:text-[3rem] pb-[1rem]">
        Blooming <span class="text-beauty">Beauty.</span>
      </p>
      <div class="flex items-center gap-2 text-[1rem] pb-3">
        <img [src]="Line" alt="" />
        <p class="text-navs">Collection of potted plants, ready to flourish</p>
      </div>
      <p class="text-nav text-[1rem] w-full md:w-[90%]">
        We offer a carefully curated selection of indoor and outdoor plants,
        hand crafted home goods that put quality ahead of quantity.
      </p>
      <button
        class="bg-navs py-3 px-6 rounded-full shadow-md text-white mt-[1rem]"
      >
        Explore More
      </button>
    </div>
  </div>
</section>
